.main {
  @apply block flex-auto;
}

.container {
  @apply h-full max-w-screen-2xl mt-0 mb-0 ml-auto mr-auto py-8 px-3 mm3:px-5;
}

.catallog {
  @apply grid grid-cols-fill-100 gap-3 pb-12 mm:gap-3 lg:gap-6 lg2:gap-10 mm3:grid-cols-fill-300;
}

.card {
  @apply relative rounded-md cursor-pointer p-4 my-0 mx-auto border border-x-white/10 w-full pointer-events-none
       border-y-white/10 max-w-450 outline-none shadow-md bg-black-950 overflow-hidden before:content-['*']
         before:h-61 before:fixed before:-rotate-45 before:z-20 before:-left-full before:-top--10% before:transition-all
         before:duration-700 before:shadow-3xl hover:shadow-2md hover:border-opacity-white
         hover:before:brightness-50 hover:before:-top-full hover:before:left-200%
         sm2:mx-0;
  &._init {
    @apply duration-500 ease-in-expo pointer-events-auto;
    &:hover {
      transform: scale(1.015) !important;
    }
  }
  &__background {
    @apply absolute top-0 right-0 bottom-0 left-0 z-10 bg-black-950 duration-500 ease-in-expo;
  }
  &__content {
    @apply relative z-10;
  }
  &__image {
    @apply w-full h-48 object-cover rounded-md;
  }
  &__description {
    @apply py-3 px-3 flex flex-col justify-between gap-5;
  }
  &__title {
    @apply text-lg text-slate-100 font-mono font-bold w-full sm2:whitespace-nowrap sm2:overflow-hidden sm2:text-ellipsis mm2:text-xl;
  }
  &__tags {
    @apply flex flex-wrap gap-2;
  }
  &__tag {
    @apply py-1 px-3 bg-indigo-50 rounded-full text-base text-slate-600 text-center block font-bold;
  }
}

.exchanges {
  @apply flex flex-col gap-8 bg-black-950 border border-x-white/10 border-y-white/10 w-full p-4 rounded-md;
  &__titles {
    @apply flex flex-col gap-1 text-center max-w-fit mx-auto mm3:gap-2;
  }
  &__title {
    @apply text-slate-100 font-bold text-base mm3:text-xl;
  }
  hr {
    @apply bg-slate-600;
  }
  &__links {
    @apply flex flex-col gap-4 justify-center items-center mm3:gap-8 mm3:flex-row;
  }
  &__link {
    @apply block first:max-w-100 last:max-w-230 mm3:first:max-w-120;
  }
  &__image {
    @apply block w-full;
  }
}